pojoPruebaEnvio/src/META-INF/wsdl/localhost_8080/MensajeriaExpressV2/EnvioPaquetes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsMensajeria/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsMensajeria/" name="EnvioPaquetes">
<types>
<xsd:schema>
<xsd:import namespace="http://wsMensajeria/" schemaLocation="http://localhost:8080/MensajeriaExpressV2/EnvioPaquetes?xsd=1"/>
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="hacerEntrega">
<part name="parameters" element="tns:hacerEntrega"/>
</message>
<message name="hacerEntregaResponse">
<part name="parameters" element="tns:hacerEntregaResponse"/>
</message>
<message name="enviarProducto">
<part name="parameters" element="tns:enviarProducto"/>
</message>
<message name="enviarProductoResponse">
<part name="parameters" element="tns:enviarProductoResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<portType name="EnvioPaquetes">
<operation name="find">
<input wsam:Action="http://wsMensajeria/EnvioPaquetes/findRequest" message="tns:find"/>
<output wsam:Action="http://wsMensajeria/EnvioPaquetes/findResponse" message="tns:findResponse"/>
</operation>
<operation name="hacerEntrega">
<input wsam:Action="http://wsMensajeria/EnvioPaquetes/hacerEntregaRequest" message="tns:hacerEntrega"/>
<output wsam:Action="http://wsMensajeria/EnvioPaquetes/hacerEntregaResponse" message="tns:hacerEntregaResponse"/>
</operation>
<operation name="enviarProducto">
<input wsam:Action="http://wsMensajeria/EnvioPaquetes/enviarProductoRequest" message="tns:enviarProducto"/>
<output wsam:Action="http://wsMensajeria/EnvioPaquetes/enviarProductoResponse" message="tns:enviarProductoResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wsMensajeria/EnvioPaquetes/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wsMensajeria/EnvioPaquetes/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wsMensajeria/EnvioPaquetes/edit" message="tns:edit"/>
</operation>
</portType>
<binding name="EnvioPaquetesPortBinding" type="tns:EnvioPaquetes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hacerEntrega">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="EnvioPaquetes">
<port name="EnvioPaquetesPort" binding="tns:EnvioPaquetesPortBinding">
<soap:address location="http://localhost:8080/MensajeriaExpressV2/EnvioPaquetes"/>
</port>
</service>
</definitions>