pojoPruebaPago/src/META-INF/wsdl/localhost_8080/PagoOnlineV2/PasarelaPago.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wspasarelapago/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wspasarelapago/" name="PasarelaPago">
<types>
<xsd:schema>
<xsd:import namespace="http://wspasarelapago/" schemaLocation="http://localhost:8080/PagoOnlineV2/PasarelaPago?xsd=1"/>
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="Facturar">
<part name="parameters" element="tns:Facturar"/>
</message>
<message name="FacturarResponse">
<part name="parameters" element="tns:FacturarResponse"/>
</message>
<portType name="PasarelaPago">
<operation name="find">
<input wsam:Action="http://wspasarelapago/PasarelaPago/findRequest" message="tns:find"/>
<output wsam:Action="http://wspasarelapago/PasarelaPago/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wspasarelapago/PasarelaPago/createRequest" message="tns:create"/>
<output wsam:Action="http://wspasarelapago/PasarelaPago/createResponse" message="tns:createResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wspasarelapago/PasarelaPago/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wspasarelapago/PasarelaPago/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wspasarelapago/PasarelaPago/edit" message="tns:edit"/>
</operation>
<operation name="Facturar">
<input wsam:Action="http://wspasarelapago/PasarelaPago/FacturarRequest" message="tns:Facturar"/>
<output wsam:Action="http://wspasarelapago/PasarelaPago/FacturarResponse" message="tns:FacturarResponse"/>
</operation>
</portType>
<binding name="PasarelaPagoPortBinding" type="tns:PasarelaPago">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="Facturar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PasarelaPago">
<port name="PasarelaPagoPort" binding="tns:PasarelaPagoPortBinding">
<soap:address location="http://localhost:8080/PagoOnlineV2/PasarelaPago"/>
</port>
</service>
</definitions>