pojoPruebaAlmacen/src/META-INF/Almacen.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsAlmacen/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsAlmacen/" name="Almacen">
<types>
<xsd:schema>
<xsd:import namespace="http://wsAlmacen/" schemaLocation="http://localhost:8080/TiendaElectronicaV2/Almacen?xsd=1"/>
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="comprobarStock">
<part name="parameters" element="tns:comprobarStock"/>
</message>
<message name="comprobarStockResponse">
<part name="parameters" element="tns:comprobarStockResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="editResponse">
<part name="parameters" element="tns:editResponse"/>
</message>
<portType name="Almacen">
<operation name="find">
<input wsam:Action="http://wsAlmacen/Almacen/findRequest" message="tns:find"/>
<output wsam:Action="http://wsAlmacen/Almacen/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wsAlmacen/Almacen/createRequest" message="tns:create"/>
<output wsam:Action="http://wsAlmacen/Almacen/createResponse" message="tns:createResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wsAlmacen/Almacen/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wsAlmacen/Almacen/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="comprobarStock">
<input wsam:Action="http://wsAlmacen/Almacen/comprobarStockRequest" message="tns:comprobarStock"/>
<output wsam:Action="http://wsAlmacen/Almacen/comprobarStockResponse" message="tns:comprobarStockResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wsAlmacen/Almacen/editRequest" message="tns:edit"/>
<output wsam:Action="http://wsAlmacen/Almacen/editResponse" message="tns:editResponse"/>
</operation>
</portType>
<binding name="AlmacenPortBinding" type="tns:Almacen">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Almacen">
<port name="AlmacenPort" binding="tns:AlmacenPortBinding">
<soap:address location="http://localhost:8080/TiendaElectronicaV2/Almacen"/>
</port>
</service>
</definitions>